Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
+Content/RTS_Main/Maps/RTS_Conquer_Map.umap
Content/RTS_Main/Maps/RTS_Conquer_Map_BuiltData.uasset
